.fondoItem {
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: blanchedalmond;
    text-align: center;
}

.genero {
    font-size: 50px;
}

.numero {
    font-size: 40px;
    font-weight: 800;
    margin-top: -30px;
}

.cm {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

input[type='range'] {
    display: block;
    width: 90%;
    height: 9px;
    padding: 0px 20px;
    border-radius: 20px;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #FF3366;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-top: 1px;
}

.signos {
    cursor: pointer;
    background-color: #ff4c4f5e;
    padding: 7px;
    border-radius: 15px;
    margin-left: 10px;
}

.desactivado {
    background-color: #7d2f2f33;
}